@charset "UTF-8";

*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

html{
    overflow-x: hidden;
}

header{
    background-color: rgb(22, 22, 22);
    color: white;
    padding-top: 10px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}


header > .container,
footer > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.container{
max-width: 1024px;
width: 100%;
margin: 0px auto;
}

.container-hamburguer{
    width: 32px;
    cursor:pointer;
}
.menu-hamburguer{
    height: 2px;
    width: 100%;
    background-color: white;
    margin-bottom: 5px;
    border: 2px solid white;
}
nav{
    display: none;
    background-color: rgb(44, 44, 44);
    width: 100%;
    padding-left: 10px;
}

nav ul{
    display: flex;
    align-items: left;
    justify-content: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul li{
    margin-right: 20px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.container-flex{
    display: flex;
}

#sobre-a-loja img{
    max-width: 400px;
    margin-right: 16px;
}

.container-flex{
    display: flex;
}

section{
    padding: 48px 0px;
}
section h2 {
    margin-bottom: 16px;
}

.lista-veiculos{
    flex-wrap: wrap;
}

.lista-veiculos li{
    list-style: none;
    max-width: 30%;
}
.lista-veiculos li img{
    max-width: 100%;
}

.lista-veiculos li h3 {
    margin: 16px 0;
}
.item-central{
    margin: 0 5%;
}

button{
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #114097;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    border-radius: 6px;
    cursor: pointer;
}

.price{
    display: flex;
    flex-direction: column;
    margin: 16px 0;
}

.price del{
    color: #adacac;
    font-size: 14px;
}

.form-campo{
    margin: 16px;
}

.form-campo laber{
    font-weight: bold;
    display: block;
}

.form-campo input, .form-campo textarea{
    width: 100%;
    display: block;
    padding: 8px;  
}

.form-campo textarea{
    resize: none;
    height: 120px;
}

form{
    max-width: 360px;
}

footer{
    background-color: rgb(44, 44, 44);
    color: white;
}

form button{
    max-width: 120px;
    margin-left: 15px;
}

footer li{
    list-style: none;
    margin-left: 16px;
}

footer li img{
    width: 32px;
    padding-top: 10px;
}

footer .container{
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    }
    
body {
  font-family: Arial, sans-serif;
}

.form-row {
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  body {
    font-family: Arial, sans-serif;
  }
  
  .form-row {
    margin-bottom: 1rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .btn-primary:focus,
  .btn-primary.focus {
    color: #fff;
    background-color: #0056b3;
    border-color: #0056b3;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }
  
  .btn-primary.disabled,
  .btn-primary:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .form-check {
    position: relative;
    display: block;
  }
  
  .form-check-input {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: -1.25rem;
  }
  
  .show>.form-check-label {
    margin-bottom: 0;
  }
  
  .btn-primary.dropdown-toggle {
    margin-bottom: 0;
  }
  