@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? família=Montserrat:ital,wght@1,200&display=swap');

*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    background: linear-gradient(to left, #114097, #adacac);
    /*font-family: Roboto, sans-serif;*/
}

.slide{
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    overflow: hidden;

}
.slide{

}




html{
    overflow-x: hidden;
}


header{
    background-color: rgb(22, 22, 22);
    padding-top: 10px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 45px;
}


header > .container,
footer > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
/*etilo principal dos produtos*/

.container{
    max-width: 1000px;
    width: 100%;
    margin: 0px auto;
    flex: auto;
    text-align: center;
    }



.container-hamburguer{
    width: 32px;
    cursor:pointer;
}
.menu-hamburguer{
    height: 2px;
    width: 100%;
    background-color: rgb(15, 14, 14);
    margin-bottom: 5px;
    border: 2px solid white;
}
nav{
    display: none;
    background-color: rgb(44, 44, 44);
    width: 100%;
    padding-left: 10px;
}

nav ul{
    display: flex;
    align-items: left;
    justify-content: left;
    padding-top: 10px;
    padding-bottom: 10px;

   
}

nav ul li{
    margin-right: 20px;
    list-style: none;
    
    
    
}

nav ul li a{
    text-decoration: none;
    color: rgb(7, 7, 7);
    text-transform: uppercase;
    
}

.container-flex{
    display: flex;
}

#sobre-a-loja img{
    max-width: 400px;
    margin-right: 16px;
}

.container-flex{
    display: flex;
}

section{
    padding: 48px 0px;
}
section h2 {
    margin-bottom: 16px;
    
}

.lista-veiculos{
    flex-wrap: wrap;
}

.lista-veiculos li{
    list-style: none;
    max-width: 30%;
    /*background: linear-gradient(to left, #114097, #adacac);*/
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.lista-veiculos li img{
    max-width: 100%;
    border-radius: 12px;
    align-items: center;
}

.lista-veiculos li h3 {
    margin: 16px 0;
}
.item-central{
    margin: 0 5%;
    
}
.item-central p{
    align-items: center;
}

button{
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #114097;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    border-radius: 6px;
    cursor: pointer;
}

.price{
    display: flex;
    flex-direction: column;
    margin: 16px 0;
}

.price del{
    color: #adacac;
    font-size: 14px;
}

.form-campo{
    margin: 16px;
}

.form-campo laber{
    font-weight: bold;
    display: block;
}

.form-campo input, .form-campo textarea{
    width: 100%;
    display: block;
    padding: 8px;  
}

.form-campo textarea{
    resize: none;
    height: 120px;
}

form{
    max-width: 360px;
}

footer{
    background-color: rgb(44, 44, 44);
    color: rgb(19, 16, 16);
}

form button{
    max-width: 120px;
    margin-left: 15px;
}

footer li{
    list-style: none;
    margin-left: 16px;
}

footer li img{
    width: 32px;
    padding-top: 10px;
}

footer .container{
    justify-content: space-between;
    align-items: center;
}








/*Responsiviudade*/

/*para mapa*/
@media (max-width: 950px) {
    .contato {
        padding: 60px 0;
 
    }
    .contato .contato-card{
     left: 40px;
 
 }
 
 }
 @media (max-width: 800px) {
     .contato {
         padding: 20px 0;
         
     }
 
     .contato .contato-card{
         position: static;/*normal*/
         margin: 40px auto;
     }
     
 }   
 /*tablets*/
 @media (max-width: 767px) {
    
 }
 /*phones*/
 @media (max-width: 480px) {
 
     body{
         height: calc(100vh - 55px);
     }
 
     header nav ul  {
         background: darkslategray;
         position: fixed;
         bottom: 0;
         left: 0;
         width: 100%;
         padding: 0;
         margin: 0;
         z-index: 99;
         background: lightsalmon;
         color: cornsilk;
         font-weight: bold;
         height: 55px;
 
         display: flex;
         justify-content: space-between;
         align-items: center;
 
     }
     header nav p{
         width: 100%;
         text-align: center;
     }
    
     
 }
